/**
 *	Versión 1.0.0
 */
@charset "utf-8";

/**
 *	Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**
 *	Mobile
*/

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/**	Body */
body {
	background-color: #96ADC8;
	color: white;
}

/**	Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

/**	Encabezados */
h1 {
  font-family: 'Montserrat';
  font-size: 3.6em;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

/**	Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4em 2em;
  background-color: #fff;
}

/**	Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	width: 100%;
  padding: 2em;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

footer ul li {
  font-family: 'Montserrat';
  font-size: 1.4em;
  line-height: 1.5;
  text-align: center;
}

footer ul li a {
  font-family: 'Montserrat';
  font-size: 1em;
  text-decoration: none;
	color: white;
}
